<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.chan.mapper.BoardMapper">
    <resultMap id="boardResultMap" type="board">
        <result column="BOARD_IDX" property="boardIdx"/>
        <result column="LOGIN_ID" property="loginId"/>
        <result column="CONTENTS" property="contents"/>
        <result column="HIT" property="hit"/>
        <result column="USE_YN" property="use_yn"/>
        <result column="TITLE" property="title"/>
        <result column="REGDATE" property="regDate"/>
    </resultMap>

    <insert id="write" parameterType="String">
        INSERT INTO BOARD(BOARD_IDX, LOGIN_ID, CONTENTS, TITLE)
        VALUES (SEQ_BOARD.NEXTVAL, #{loginId}, #{contents}, #{title})
    </insert>

    <select id="boardList" resultMap="boardResultMap">
        SELECT BOARD_IDX, LOGIN_ID, HIT, TITLE, REGDATE
        FROM BOARD
        ORDER BY BOARD_IDX DESC
    </select>

    <select id="boardView" resultMap="boardResultMap">
        SELECT LOGIN_ID, TITLE, CONTENTS, HIT, REGDATE
        FROM BOARD
        WHERE BOARD_IDX = #{boardIdx}
    </select>
    
    <select id="getTotal" resultType="int">
        select COUNT(*) FROM BOARD
    </select>

</mapper>