<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.chan.mapper.BoardMapper">
    <resultMap id="boardResultMap" type="board">
        <result column="BOARD_IDX" property="boardIdx"/>
        <result column="LOGIN_ID" property="loginId"/>
        <result column="CONTENTS" property="contents"/>
        <result column="HIT" property="hit"/>
        <result column="USE_YN" property="useYn"/>
        <result column="TITLE" property="title"/>
        <result column="REGDATE" property="regDate"/>
    </resultMap>

    <insert id="write" parameterType="String">
        INSERT INTO BOARD(BOARD_IDX, LOGIN_ID, CONTENTS, TITLE)
        VALUES (SEQ_BOARD.NEXTVAL, #{loginId}, #{contents}, #{title})
    </insert>

    <select id="boardList" resultMap="boardResultMap">
        <![CDATA[
        SELECT BOARD_IDX, LOGIN_ID, HIT, TITLE, REGDATE, USE_YN
        FROM(SELECT ROWNUM RN, BOARD_IDX, LOGIN_ID, HIT, TITLE, REGDATE, USE_YN
             FROM (SELECT ROWNUM RN, BOARD_IDX, LOGIN_ID, HIT, TITLE, REGDATE, USE_YN
                   FROM BOARD WHERE USE_YN = 'Y' ORDER BY BOARD_IDX DESC))
        WHERE RN BETWEEN (#{pageNum} - 1) * #{amount} AND #{pageNum} * #{amount}
        ]]>
    </select>

    <select id="boardView" resultMap="boardResultMap">
        SELECT LOGIN_ID, TITLE, CONTENTS, HIT, REGDATE, BOARD_IDX
        FROM BOARD
        WHERE BOARD_IDX = #{boardIdx} AND USE_YN = 'Y'
    </select>

    <update id="boardViewHit" parameterType="Long">
        UPDATE BOARD
        SET HIT = HIT+1
        WHERE BOARD_IDX = #{boardIdx}
    </update>
    
    <select id="getTotal" resultType="int">
        SELECT COUNT(*) FROM BOARD
        WHERE USE_YN = 'Y'
    </select>
    
    <update id="updateBoard" parameterType="board">
        UPDATE BOARD
        SET TITLE = #{title}, CONTENTS = #{contents}
        WHERE BOARD_IDX = #{boardIdx}
    </update>
    
    <update id="deleteBoard" parameterType="long">
        UPDATE BOARD
        SET USE_YN = 'N'
        WHERE BOARD_IDX = #{boardIdx}
    </update>


</mapper>