<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x1.chan.mapper.MemberMapper">
    <resultMap id="memberResultMap" type="member">
        <result column="login_id" property="loginId"/>
        <result column="password" property="password"/>
        <result column="user_Type" property="userType"/>
        <result column="user_Email" property="userEmail"/>
        <result column="name" property="name"/>
        <result column="salt" property="salt"/>
        <result column="regDate" property="regDate"/>
        <result column="phone_number" property="phoneNumber" />
        <result column="use_YN" property="useYN"/>
    </resultMap>
    <resultMap id="naverResultMap" type="naver">
        <result column="login_email" property="email"/>
        <result column="profile_image" property="profileImage"/>
        <result column="login_idx" property="loginIdx"/>
        <result column="name" property="name"/>
    </resultMap>
    
    <insert id="saveNaverId" parameterType="naver">
        INSERT INTO NAVER_LOGIN(LOGIN_IDX, LOGIN_EMAIL, PROFILE_IMAGE, NAME)
        VALUES (SEQ_NAVER_LOGIN.NEXTVAL, #{email}, #{profileImage}, #{name})
    </insert>
    
    <select id="findByNaverId" parameterType="naver" resultMap="naverResultMap">
        SELECT LOGIN_EMAIL, PROFILE_IMAGE, LOGIN_IDX, NAME
        FROM NAVER_LOGIN
        WHERE LOGIN_EMAIL = #{email}
    </select>

    <select id="findNaverId" parameterType="String">
        SELECT NAME
        FROM NAVER_LOGIN
        WHERE NAME = #{naverId}
    </select>
    
    <insert id="joinMember" parameterType="member">
        INSERT INTO MEMBER(LOGIN_ID, PASSWORD, USER_EMAIL, NAME, PHONE_NUMBER, SALT)
        VALUES(#{loginId}, #{password}, #{userEmail}, #{name}, #{phoneNumber}, #{salt})
    </insert>
    
    <select id="findByLoginId" parameterType="String" resultMap="memberResultMap">
        SELECT LOGIN_ID, PASSWORD, USER_TYPE, USER_EMAIL, NAME, REGDATE, PHONE_NUMBER, USE_YN, SALT
        FROM MEMBER
        WHERE LOGIN_ID = #{loginId}
    </select>
    
    <insert id="logLogin" parameterType="String">
        INSERT INTO LOGIN_LOG(LOG_SEQ, LOGIN_ID, DESCRIPTION)
        VALUES (SEQ_LOG.NEXTVAL, #{loginId}, #{description})
    </insert>

    <select id="idCheck" parameterType="String" resultType="String">
       SELECT LOGIN_ID
       FROM MEMBER
       WHERE LOGIN_ID = #{userId}
    </select>
</mapper>