<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.x1.chan.domain.Member" alias="member"/>
        <typeAlias type="com.x1.chan.domain.Board" alias="board"/>
        <typeAlias type="com.x1.chan.domain.NaverLoginDTO" alias="naver"/>
        <typeAlias type="com.x1.chan.domain.FileVO" alias="file"/>
    </typeAliases>
</configuration>